{% extends 'auth_layout.html' %}

{% block content %}

<form action="/login/" method="post" class="box">
  {% csrf_token %}

  {% for error in messages %}

  <div class="notification is-danger">
    <button class="delete" onclick="removeNotif(event)"></button>
    {{error}}
  </div>

  {% endfor %}

  {% for field in form %}

  <div class="field">
    <label class="label" for="{{ field.auto_id }}">{{ field.label }}</label>
    {{ field }}
  </div>

  {% endfor %}

  <button class="button is-success" type="submit">
    Login
  </button>

  <div class="field mt-3">
    <p>
      Don't have an account?
      <a class="link" href="{% url 'register' %}">Sign up</a>
    </p>
  </div>
</form>

{% endblock %}
