{% extends 'auth_layout.html' %} {% block content %}

<form action="" class="box" method="POST">
  {% for error in messages %}
  <div class="notification is-danger">
    <button
      class="delete"
      onclick="removeNotif(event)"
      id="{{error.extra_tags}}"
    ></button>
    <p id="error">{{error}}</p>
  </div>
  {% endfor %} {% csrf_token %}
  <div class="field">
    <label for="" class="label">{{ form.first_name.label }}</label>
    <div class="control">{{form.first_name}}</div>
  </div>

  <div class="field">
    <label for="" class="label">{{ form.last_name.label }}</label>
    <div class="control">{{form.last_name}}</div>
  </div>

  <div class="field">
    <label for="" class="label">{{ form.username.label }}</label>
    <div class="control">{{form.username}}</div>
  </div>

  <div class="field">
    <label for="" class="label">{{ form.email.label }}</label>
    <div class="control">{{form.email}}</div>
  </div>

  <div class="field">
    <label for="" class="label">{{ form.password1.label }}</label>
    <div class="control">{{form.password1}}</div>
  </div>

  <div class="field">
    <label for="" class="label">{{ form.password2.label }}</label>
    <div class="control">{{form.password2}}</div>
  </div>

  <div class="field">
    <input type="submit" class="button is-success" value="Sign-up" />
  </div>

  <div class="field">
    <label>
      Already have an account? <a href="{% url 'login' %}">Sign in</a>
    </label>
  </div>
</form>
{% endblock %}
